@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500;700&display=swap');

.ip-menu-container {

    position: fixed;

    width: 16%;
    top:60px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #414141;

    overflow-y: scroll;
    
    padding-bottom: 5%;

}

.ip-menu-container .title {

    height: 40px;
    width: 100%;

    background: #212121;
    
    color: white;
    font-size: 30px;

    font-family: 'Teko', sans-serif;
    text-align: center;

}

.ip-menu-container .sessionTitle{
    width: 100%;

    background: #353535;

    color: white;
    font-size: 17px;
    font-weight: 700;

}

.ip-menu-container .sessionTitle div{

    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ip-menu-container .viewMode:hover{

    background: #313131;

}

.ip-menu-container .viewMode{

    cursor: pointer;

    width: 100%;

    color: white;

    font-size: 16px;

}

.ip-menu-container .viewMode div{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

}

.ip-menu-container .viewMode div .left{

    margin-left: 18px;

}

.ip-menu-container .viewMode div .left p{

    font-size: 13px;

    margin-left: 18px;

}

.ip-menu-container .viewMode div .right {

    margin-right: 18px;;

}

.ip-menu-container .componentTitle:hover{

    background: #313131;    

}

.ip-menu-container .componentTitle{
    width: 100%;

    color: white;

    font-size: 16px;

    cursor: pointer;

}

.ip-menu-container .componentTitle div{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

}

.ip-menu-container .componentTitle div .left{

    margin-left: 18px;

}

.ip-menu-container .componentTitle div .left p{

    font-size: 13px;

    margin-left: 18px;

}

.ip-menu-container .componentTitle div .right {

    margin-right: 18px;;

}

.ip-menu-container .page:hover{

    background: rgb(32, 32, 32);

}

.ip-menu-container .page {

    width: 100%;

    background: #2D2D2D;

    border-top: 1px #212121 solid;
    border-bottom: 1px #212121 solid;

    cursor: pointer;

}

.ip-menu-container .page+.page {

    border-top: 0px #212121 solid;
    border-bottom: 1px #212121 solid;

}

.ip-menu-container .page div{

    height: 30px;
    color: white;

    display: flex;
    align-items: center;

    font-size: 16px;

}

.ip-menu-container .page div svg{

    margin-left: 23px;

}

.ip-menu-container .page div svg+svg{

    margin-left: 14px;

}

.ip-menu-container .page div p{

    margin-left: 7px;

    font-size: 12px;
    vertical-align: middle;

}

.ip-menu-container .list:hover{

    background: rgb(32, 32, 32);

}

.ip-menu-container .list {

    width: 100%;

    background: #2D2D2D;

    border-top: 1px #212121 solid;
    border-bottom: 1px #212121 solid;

    cursor: pointer;

}

.ip-menu-container .list+.list {

    border-top: 0px #212121 solid;
    border-bottom: 1px #212121 solid;

}

.ip-menu-container .list div{

    height: 30px;
    color: white;

    display: flex;
    align-items: center;

    font-size: 16px;

}

.ip-menu-container .list div svg{

    margin-left: 23px;

}

.ip-menu-container .list div .mask-red{

    background-color: red;
    width: 14px;
    height: 14px;

    border: 1px solid white;
    border-radius: 3px;

    margin-left: 14px;
    margin-top: 0px;

}

.ip-menu-container .list div .mask-yellow{

    background-color: yellow;
    width: 14px;
    height: 14px;

    border: 1px solid white;
    border-radius: 3px;

    margin-left: 14px;
    margin-top: 0px;

}

.ip-menu-container .list div .mask-green{

    background-color: green;
    width: 14px;
    height: 14px;

    border: 1px solid white;
    border-radius: 3px;

    margin-left: 14px;
    margin-top: 0px;

}

.ip-menu-container .list div p{

    margin-left: 7px;

    font-size: 12px;
    vertical-align: middle;

}

.ip-menu-container .table:hover{

    background: rgb(32, 32, 32);

}

.ip-menu-container .table {

    width: 100%;

    background: #2D2D2D;

    border-top: 1px #212121 solid;
    border-bottom: 1px #212121 solid;

    cursor: pointer;

}

.ip-menu-container .table+.table {

    border-top: 0px #212121 solid;
    border-bottom: 1px #212121 solid;

}

.ip-menu-container .table div{

    height: 30px;
    color: white;

    display: flex;
    align-items: center;

    font-size: 16px;

}

.ip-menu-container .table div svg{

    margin-left: 23px;

}

.ip-menu-container .table div svg+svg{

    margin-left: 14px;

}

.ip-menu-container .table div p{

    margin-left: 7px;

    font-size: 12px;
    vertical-align: middle;

}

.ip-menu-container .function:hover{

    background: rgb(32, 32, 32);

}

.ip-menu-container .function {

    width: 100%;

    background: #2D2D2D;

    border-top: 1px #212121 solid;
    border-bottom: 1px #212121 solid;

    cursor: pointer;

}

.ip-menu-container .function+.function {

    border-top: 0px #212121 solid;
    border-bottom: 1px #212121 solid;

}

.ip-menu-container .function div{

    height: 30px;
    color: white;

    display: flex;
    align-items: center;

    font-size: 16px;

}

.ip-menu-container .function div svg{

    margin-left: 23px;

}

.ip-menu-container .function div svg+svg{

    margin-left: 14px;

}

.ip-menu-container .function div p{

    margin-left: 7px;

    font-size: 12px;
    vertical-align: middle;

}

.ip-menu-container .comments:hover{

    background: rgb(32, 32, 32);

}

.ip-menu-container .comments {

    width: 100%;

    background: #2D2D2D;

    border-top: 1px #212121 solid;
    border-bottom: 1px #212121 solid;

    cursor: pointer;

}

.ip-menu-container .comments+.comments {

    border-top: 0px #212121 solid;
    border-bottom: 1px #212121 solid;

}

.ip-menu-container .comments div{

    height: 30px;
    color: white;

    display: flex;
    align-items: center;

    font-size: 16px;

}

.ip-menu-container .comments div svg{

    margin-left: 23px;

}

.ip-menu-container .comments div .mask-circle{

    width: 16px;
    height: 16px;

    border: 1px solid white;
    border-radius: 10px;

    margin-left: 14px;
    margin-top: -1px;

}

.ip-menu-container .comments div .mask-circle p{

    margin-left: 2px;
    font-size: 8px;

}

.ip-menu-container .comments div p{

    margin-left: 7px;

    font-size: 12px;
    vertical-align: middle;

}