.comments_container {

    width: 80%;
    margin: 0 auto;
    margin-top: 40px;

}

.comments_container .header {

    display: flex;

    justify-content: center;

}

.comments_container .header .middle p {

    color: white;
    font-weight: bold;
    font-size: 34px;

    margin-left: 15px;

}

.comments_container .list .item {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 12px;
    padding-bottom: 12px;

    border-bottom: 1px solid #0D0D0D;

}

.comments_container .list .item .title {

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;

    margin-bottom: 5px;

}

.comments_container .list .item .title .left {

    display: flex;

}

.comments_container .list .item .title .left p {

    font-size: 25px;

}

.comments_container .list .item .title .left p + p {

    font-size: 18px;

    margin-left: 10px;
    margin-top: 7px;

}

.comments_container .list .item .title .right {

    display: flex;
    align-items: center;

    margin-top: 8px;

}

.comments_container .list .item .title .right svg {

    margin-left: 6px;
    font-size: 18px;

}

.comments_container .list .item .desc {

    padding-bottom: 10px;

    font-size: 13.9023px;
    line-height: 25px;
    text-align: justify;

    color: #ACACAC;

}