body{

    background: url('../../assets/background-login-page.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;

}

.logoZan {

    width: 32%;

    position: absolute;

    bottom: 0px;
    right: 10px;

}

.login-container{

    width: 100%;
    max-width: 360px;
    height: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 25px;
    border: 7px solid #FF009D;

    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -180px;

}

.login-container p{

    font-size: 16.3057px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 7px;
    color: #FFFFFF;

}

.login-container form {

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-container form input{

    margin-top: 19px;

}
