.to_do_lists_container {

    width: 80%;
    margin: 0 auto;
    margin-top: 40px;

}

.to_do_lists_container .header {

    display: flex;

}

.to_do_lists_container .header .left .title {

    display: flex;

    align-items: center;

}

.to_do_lists_container .header .left .title svg {

    font-size: 45px;

    color: white;

    border-radius: 50px;

}

.to_do_lists_container .header .left .title p {

    color: white;
    font-weight: bold;
    font-size: 34px;

    margin-left: 15px;

}

.to_do_lists_container .header .left .desc {

    width: 80%;
    color: white;
    font-size: 13px;
    line-height: 22px;
    margin-top: 5px;

}

.to_do_lists_container .header .right {

    margin-top: 6px;

}

.to_do_lists_container .header .right .actions {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.to_do_lists_container .header .right .actions svg {

    color: white;
    font-size: 26px;
    margin-top: 8px;

    cursor: pointer;

}

.to_do_lists_container .opt-list {

    display: flex;
    justify-content: space-between;

    margin-top: 15px;
    margin-bottom: 15px;

}

.to_do_lists_container .opt-list .left {

    display: flex;
    align-items: center;
    color: white;

    cursor: pointer;

}

.to_do_lists_container .opt-list .left p {

    margin-left: 6px;
    margin-right: 6px;

    font-size: 14px;

}

.to_do_lists_container .opt-list .left svg {

    font-size: 15px;

}

.to_do_lists_container .opt-list .left .chv {

    margin-top: 5px;

}

.to_do_lists_container .opt-list .right {

    display: flex;
    align-items: center;

}

.to_do_lists_container .opt-list .right .head-item {

    display: flex;
    margin-left: 15px;
    color: white;

    cursor: pointer;

}

.to_do_lists_container .opt-list .right .head-item svg {

    font-size: 16px;

}

.to_do_lists_container .opt-list .right .head-item p {

    margin-left: 5px;

    font-size: 14px;

}

.to_do_lists_container .list .item {

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;

    padding-top: 12px;
    padding-bottom: 12px;

}

.to_do_lists_container .list .item .left {

    display: flex;
    align-items: center;
    
    color: white;

}

.to_do_lists_container .list .item .left svg {

    font-size: 16px;
    margin-top: 2px;

    cursor: pointer;

}

.to_do_lists_container .list .item .left p {

    font-weight: bold;
    font-size: 14px;
    margin-left: 18px;

}

.to_do_lists_container .list .item .right {

    display: flex;
    align-items: center;

    color: white;

}

.to_do_lists_container .list .item .right p {

    margin-left: 15px;
    font-size: 13px;

}

.to_do_lists_container .list .item .right svg {

    margin-left: 15px;
    font-size: 16px;

}

.to_do_lists_container .sub-list {

    background: #2D2D2D;

    padding: 11px 23px;

    color: white;

}

.to_do_lists_container .sub-list .desc {

    border-bottom: 1px solid #3A3A3A;
    padding-bottom: 10px;

    font-size: 13.9023px;
    line-height: 25px;
    text-align: justify;

    color: #ACACAC;

}

.to_do_lists_container .sub-list .sub-item {

    display: flex;
    align-items: center;

    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;

    padding-top: 12px;
    padding-bottom: 12px;
    
}

.to_do_lists_container .sub-list .sub-item svg {

    font-size: 16px;
    margin-top: 2px;

    cursor: pointer;

}

.to_do_lists_container .sub-list .sub-item p {

    font-weight: bold;
    font-size: 14px;
    margin-left: 18px;

}